* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin: 30px;
  font-size: 22px;
  color: rgb(124, 32, 136);
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

#sort{
  display: block;
  font-size: small;

  cursor: pointer;
  border: none;
  background-color: rgb(215, 227, 245);
  border-radius: 5px;
  margin: 5px auto;
  padding: 10px;
}
#sort:hover{
  background-color: rgb(185, 186, 226);
}

li>button{
  cursor: pointer;
  border: none;
  background-color: rgb(215, 227, 245);
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px;
}


.square{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 34px;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  background-color: rgb(215, 227, 245);
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
